<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Faust Battery charging helper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Faust Battery charging helper</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>You're ready!</strong>
    <p>Your current battery level is {{batteryInfo?.batteryLevel}} and it is <span *ngIf="!batteryInfo?.isCharging">not
      </span>charging.</p>
    <p>Screen awake is {{keepAwakeSupported?.isSupported ? 'allowed' : 'forbidden'}} and it is
      {{isKeptAwake?.isKeptAwake ? 'enabled' :
      'disabled'}}.</p>
    <p>{{testnumber}}</p>
  </div>
</ion-content>